.applyNow {
  width: 100% !important;
}

.job_icons {
  height: 18px;
  width: 18px;
}
/* .btn-primary {
    width: 150px;
    height: 50px;
    left: 1430px;
    background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
    border-radius: 8px;
    color: white;
    font-size: 17px;
    font-weight: 500;
  }
  .btn-primary:hover {
    border: 1px solid #7e90fe;
    color: #7e90fe;
    background: white;
  } */
